<table>
    <thead>
    <tr>
      <th scope="col">Animal Name</th>

    </tr>
    </thead>
    <tbody>
        <% @animals.each do |animal| %>
          <tr>
            <td><%= link_to animal.name, animal %></td>
          </tr>
        <%end%>
    </table>
