
<table>
    <thead><tr>
      <th>Animal Name</th>
    </tr></thead>
    <tbody>
        <% @animals.each do |animal| %>
          <tr>
            <td><%= link_to animal.name, animal %></td>
          </tr>
        <%end%>
      </body>
    </table>
